* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.bg-1 {
    background: #5680C0;
}
.bg-2 {
    background: #283B59;
}
.bg-3 {
    background: #6B6B6B;
}
.bg-4 {
    background: #7FA4DC;
}
.bg-5 {
    background: #436496;
}

.bg-g {
    background: linear-gradient(to right, #56E1E8, #5C58EB, #BA63FF);
}

.bg-overlay {
    background: linear-gradient(to bottom, 
      rgba(86, 225, 232, 0.6), 
      rgba(92, 88, 235, 0.6), 
      rgba(186, 99, 255, 0.6)
    );
}
.bg-glass {
  background: rgba(255, 255, 255, 0.2); /* semi-transparent white */
  backdrop-filter: blur(10px);         /* blur background behind */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.1); /* subtle border */
  border-radius: 12px;                 /* optional: rounded corners */
}

.bg-glass {
    background: white;
}

.text-1 {
    color: #5C58EB;
}

.text-g {
  background: linear-gradient(to right, #5C58EB, #BA63FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-g {
    background: linear-gradient(to right, #56E1E8, #5C58EB, #BA63FF);
    transition: all 0.3s ease;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 9999px;
    cursor: pointer;
    font-weight: 700;
}

.btn-g:hover {
    filter: brightness(1.1);
}


@media print {
    .print-cols-2 {
        display: grid !important;
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
    .print-cols-5 {
        display: grid !important;
        grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
    }
    .print-border {
        border: 0.2px solid black;
    }
}