* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.bg-1 {
    background: #5680C0;
}

.bg-2 {
    background: #283B59;
}

.bg-3 {
    background: #6B6B6B;
}

.bg-4 {
    background: #7FA4DC;
}

.bg-5 {
    background: #436496;
}

.bg-g {
    background: linear-gradient(to right, #56E1E8, #5C58EB, #BA63FF);
}

.bg-g-danger {
    background: linear-gradient(to right, #ff8800, #ff3737, #d60000);
}

.bg-overlay {
    background: linear-gradient(to bottom,
            rgba(86, 225, 232, 0.6),
            rgba(92, 88, 235, 0.6),
            rgba(186, 99, 255, 0.6));
}

/* .bg-glass {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
} */

.bg-glass {
    background: white;
}

.text-1 {
    color: #5C58EB;
}

.text-g {
    background: linear-gradient(to right, #5C58EB, #BA63FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.text-g-2 {
    background: linear-gradient(to right, #56E1E8, #5C58EB, #BA63FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.text-g-danger {
    background: linear-gradient(to right, #ff4e4e, #ff9463);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-g {
    background: linear-gradient(to right, #56E1E8, #5C58EB, #BA63FF);
    transition: all 0.3s ease;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 9999px;
    cursor: pointer;
    font-weight: 600;
}

.btn-g:hover {
    filter: brightness(1.1);
}


@media print {
    .print-cols-2 {
        display: grid !important;
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }

    .print-cols-5 {
        display: grid !important;
        grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
    }

    .print-border {
        border: 0.2px solid black;
    }
}

.auth-bg {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('/images/auth-bottm-left-circles.svg'), url('/images/auth-top-right-circles.svg');
    background-position: left bottom, right top;
    background-size: 500px auto, 350px auto;
    /* default large desktop */
    background-repeat: no-repeat, no-repeat;
    background-color: transparent;
}

/* 2K+ screens (≥1600px) */
@media (min-width: 1600px) {
    .auth-bg {
        background-size: 550px auto, 380px auto;
    }
}

/* Large desktops (1200px–1599px) */
@media (max-width: 1599px) and (min-width: 1200px) {
    .auth-bg {
        background-size: 500px auto, 350px auto;
    }
}

/* Laptops / Medium desktops (992px–1199px) */
@media (max-width: 1199px) and (min-width: 992px) {
    .auth-bg {
        background-size: 420px auto, 300px auto;
    }
}

/* Tablets (768px–991px) */
@media (max-width: 991px) and (min-width: 768px) {
    .auth-bg {
        background-size: 250px auto, 180px auto;
    }
}